<div class="card post-card">
    <div class="header-image" style="background-image: url(<%= url_for(@post.header_image)%>">
        
    </div>
    <div class="card-body d-flex flex-column">
        <h1 class="card-title"><%= @post.title%></h1>
        <% @post.elements.each do |element| %>
            <% if element.image? %>
                <%= image_tag(element.image) %>
            <%else%>
                <%= element.content %>
            <%end%>
        <%end%>
    </div>
</div>